# Generic editor
*~
*.bak

# vim
*.swp
Session.vim
Sessionx.vim
.netrwhist

# ctags
tags
.tags

# Visual Studio Code
.vscode/

# Windows
Thumbs.db
$RECYCLE.BIN/

# Linux
.directory
.Trash-*

# virtualenv
env/
venv/
.env/
.venv/

# coverage
.coverage
coverage_report
coverage.xml
coverage.json

# mypy
.mypy_cache/

# pytype
.pytype/

# python
__pycache__/
*.pyc
