# Generic editor
*~
*.bak

# vim
*.swp
Session.vim
Sessionx.vim
.netrwhist

# ctags
tags
.tags

# Visual Studio Code
.vscode/

# Windows
Thumbs.db
$RECYCLE.BIN/

# Linux
.directory
.Trash-*

# virtualenv
env/

# python
__pycache__/
